<h1>New Basket</h1>

<%= render 'form' %>

<div class="row">
<%= link_to "Show Basket", @basket, class: "waves-effect waves-light btn col s5 valign purple lighten-5 light-blue-text text-darken-4" %>
<%= link_to "Back to Basket Listings", baskets_path, class: "waves-effect waves-light btn col s5 offset-s2 valign purple lighten-5 light-blue-text text-darken-4" %>
</div>
