<div class="container col s12 center" id="footer">
	<%# link_to 'Home', home_path, class: "white-text" %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%# link_to 'About Us', about_path, class: "white-text"  %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%# link_to 'Contact Us', contact_path, class: "white-text"  %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%# link_to 'Privacy Policy', privacy_path, class: "white-text"  %>
	<div class="copyright grey-text text-lighten-3">
		<br />Webmaster: <%= mail_to "gauryn@andrew.cmu.edu", "Gaury Nagaraju", :encode => "javascript"%>
		&nbsp;&nbsp;Copyright 2016
	</div>
</div>