<div class="panel clearfix">
	<h6>Quick Links</h6>
	<ul>Switch to:
		<li><%= link_to 'Items', items_path %></li>
		<li><%= link_to 'Categories', categories_path %></li>	
		<li><%= link_to 'Baskets', baskets_path %></li>
	</ul>
</div>