<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container white-text"><%= link_to "Beverly's Birthdays", home_path, class: "brand-logo", id: "logo-container" %>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Home', home_path %></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Home</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
  <div class="nav-wrapper container">
</nav>