<br><br><br><br>
<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <%= link_to new_item_path, class: 'pink waves-effect waves-light btn-large' do %>
            Check-in<i class="material-icons left">library_add</i>
          <% end %>
        </div>

        <div class="col s12 m4">
          <%= link_to checkout_path, class: 'orange waves-effect waves-light btn-large' do %>
            Check-out<i class="material-icons left">input</i>
          <% end %>
        </div>

        <div class="col s12 m4">
          <%= link_to items_path, class: 'green waves-effect waves-light btn-large' do %>
            Dashboard<i class="material-icons left">visibility</i>
          <% end %>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>