<div class="col s12 m5">
  <h4>Check in</h4>
  <div class="input-field">
    <%= form_tag() do %>
      <%= label_tag("Barcode: ") %>
      <%= text_field_tag :barcode, '', autofocus: true %>
      <%= button_tag "Submit", class: "waves-effect waves-light btn pink white-text" %>
    <% end %>
  </div>
</div>