
<p id="notice"><%= notice %></p>
<div class="filter-box z-depth-2 green white-text">
  <%= render( partial: 'items/filterform' )%>
</div>
<%= link_to 'Reset', reset_filterrific_url %>
<%= render( partial: 'items/list', locals: { items: @items} )%>
